 
.img-size {
    width: 250px;
    height: 200px;
    padding:20px;
    border-radius: 20px;
}
#meals{
    margin: 40px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.size{
    background-color: rgba(8, 232, 240, 0.507);
    color:rgb(255, 6, 6);
    border: 1px solid rgb(7, 2, 2);
    border-radius: 20px;
    padding: 5px;
    width:300px;
    text-align: center;
    font-weight: 600;
}
.search{
   margin: 20px 500px
}
.divItem{
    background-color: rgba(22, 41, 4, 0.664);
    margin:100px 500px;
    color: rgb(233, 223, 83);
    border: 1px solid rgb(15, 13, 11);
    border-radius: 20px;
    padding: 20px;
    width:600px;
}
.divItem img{ 
    margin: 5px 150px;
    padding: 10px;
    width: 280px;
    height: 200px;
}